# Strings and Charcters

A string is a sequence of characters. Python treats charcters and string the same way.

In [1]:
Letter = 'A' # Same as letter = "A"
num = '4'  # Same as num = "4"

#### T0 display  using print() function

In [3]:
print("Hi")

Hi

## Python escape sequence
# \b   Backspace
#### \t   Tab
#### \n   Linefeed
##### \f   formfeed
##### \r   Carriage return         
#### \\\   Backslash
####  \\'   Single Quote
####  \\\ "   Double Quote

In [8]:
print("He said, John's program is easy to read")

He said, John's program is easy to read

In [12]:
"hello"

'hello'

In [13]:
'hi'

'hi'

In [15]:
"This is also string"

'This is also string'

In [16]:
"I'm going on run"

"I'm going on run"

In [17]:
"Hello"
"Hi"

'Hi'

In [18]:
print("Hello")
print("Hi")

Hello
Hi

In [20]:
print("hello \nworld")

hello
world

In [21]:
print("hello \tworld")

hello 	world

In [23]:
len("hello") # length fuction len()

5

In [25]:
len(" I am") # len include space

5

### Indexing and Slicing  string

In [26]:
mystring = "Hello World"

In [27]:
mystring

'Hello World'

In [29]:
mystring[0] # index = 0  give us first character

'H'

In [30]:
mystring[8]

'r'

In [31]:
mystring[-1] # index = -1 give last character

'd'

In [32]:
mystring[-2] #index = -2 give second last character

'l'

In [33]:
my_string = "abcdefghijkl"
my_string

'abcdefghijkl'

In [34]:
my_string[0:4] # slicing 0 to 4 exclude 4

'abcd'

In [35]:
my_string[:4] # slicing all elements to 4 , exclude 4

'abcd'

In [36]:
my_string[2:] # slicing start 2 to all elements

'cdefghijkl'

In [38]:
my_string[2:6] # # slicing 2 to 6 , exclude 6

'cdef'

In [39]:
my_string[:] # allelements show

'abcdefghijkl'

In [40]:
my_string[1:10:2] # slicing 1 to 10 but step size is 2

'bdfhj'

In [45]:
my_string[0:11:2] # slicing 0 to 10 but step size is 2

'acegik'

In [46]:
my_string[::]

'abcdefghijkl'

In [48]:
my_string[::2] # slicing 0 to 10 but step size is 2

'acegik'

In [49]:
my_string[::3] # slicing 0 to 10 but step size is 3

'adgj'

In [50]:
my_string[::-1] # reverse string

'lkjihgfedcba'

In [55]:
my_string[1::-2]

'b'

### Immutability

In [56]:
name = 'Ram'

In [58]:
name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [59]:
name[1:]

'am'

In [62]:
last = name[1:]

In [63]:
last

'am'

In [64]:
'P' + last  # concatenated string

'Pam'

In [66]:
letter = 'a'

In [69]:
letter * 10 # string is 10 times

'aaaaaaaaaa'

In [71]:
'2' + '9' # concatenation string

'29'

In [72]:
x = 'Hello world'

In [77]:
x.count('o') # count 'o' how many times in sentence

2

In [79]:
x.upper() # to make lower case to upper case

'HELLO WORLD'

In [80]:
x

'Hello world'

In [81]:
x.split() # to split sentence

['Hello', 'world']

In [83]:
x.split("l") # split where is 'l' found

['He', '', 'o wor', 'd']